<div id="<%= dom_id wine %>">
  <div>
    <strong>Name:</strong>
    <%= wine.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= wine.description %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= wine.rating %>
  </div>

  <div>
    <strong>Region:</strong>
    <%= wine.region_id %>
  </div>

</div>
